/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */



/* ------ DEFAULT DISPLAY: Extra small devices (phones, 600px and down) ------- */


/* --- Basic Display --- */

body {
  margin: 0;
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(245,215,228);
  background: linear-gradient(0deg, rgba(245,215,228,1) 0%, rgba(148,187,233,1) 100%);
  width: 100%;
  height: 100%;
  color: white;
}
.App {
  margin: auto;
  padding-left: 20px;
}


/* --- Main Content --- */

.empty {
  height: 500px;
}
h1 {
  margin: 55px 0 20px 0;
  font-size: 25px;
  letter-spacing: 0.8px;
  font-weight: 400;
}
h3 {
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}
.form {
  margin-bottom: -10px;
}
::placeholder {
  color: white;
}
input[type=text]:focus {
  outline: none;
  background-color: rgba(239, 239, 240, 0.4);
}
#city {
  font-size: 18px;
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.5) 1px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}
.card {
  margin: 30px 20px;
  height: 400px;
}
.container {
  padding: 20px 10px;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 300;
}

/* --- Media --- */

.icon {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/* --- Media Queries --- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Same as medium tablet display */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}